<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.global.file.mapper.FileMapper">

    <!-- 파일 메타 정보를 등록한다. -->
    <insert id="setFile" parameterType="org.our.sadari.global.file.dto.FileDto" useGeneratedKeys="true" keyProperty="fileNumb">
        /* setFile */
        INSERT INTO TM_FILEXM (
                    ORIG_NAME
                  , STOR_NAME
                  , FILE_PATH
                  , FILE_SIZE
                  , MIME_TYPE
                  , REGI_USER
                  , REGI_DATE
        ) VALUES (  #{origName}
                  , #{storName}
                  , #{filePath}
                  , #{fileSize}
                  , #{mimeType}
                  , #{regiUser,jdbcType=NUMERIC}
                  , CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 파일 번호를 기준으로 파일 메타 정보를 조회한다. -->
    <select id="getFileByNumb" parameterType="long" resultType="org.our.sadari.global.file.dto.FileDto">
        SELECT /* getFileByNumb */
               FILE_NUMB
             , ORIG_NAME
             , STOR_NAME
             , FILE_PATH
             , FILE_SIZE
             , MIME_TYPE
             , REGI_USER
             , REGI_DATE
          FROM TM_FILEXM
         WHERE FILE_NUMB = #{fileNumb}
    </select>

    <!-- 현재 활성 회원의 프로필 또는 배경으로 참조되는 공개 파일 수를 조회한다. -->
    <select id="getActivePublicFileCount" resultType="int">
        <bind name="userStatActive" value="@org.our.sadari.global.common.constant.Constant@USER_STAT_ACTIVE" />
        SELECT /* getActivePublicFileCount */
               COUNT(*)
          FROM TM_FILEXM F
         WHERE F.STOR_NAME = #{storName}
           AND F.FILE_PATH = #{filePath}
           AND (   EXISTS (
                           SELECT 1
                             FROM TM_USERXM P
                            WHERE P.PROF_NUMB = F.FILE_NUMB
                              AND P.USER_STAT = #{userStatActive}
                       )
                OR EXISTS (
                           SELECT 1
                             FROM TM_USERXM B
                            WHERE B.BGIM_NUMB = F.FILE_NUMB
                              AND B.USER_STAT = #{userStatActive}
                       )
               )
    </select>

    <!-- 파일 등록 사용자 번호로 영구 삭제할 파일 메타 정보를 조회한다. -->
    <select id="getFileListByRegiUser" parameterType="long" resultType="org.our.sadari.global.file.dto.FileDto">
        SELECT /* getFileListByRegiUser */
               FILE_NUMB
             , ORIG_NAME
             , STOR_NAME
             , FILE_PATH
             , FILE_SIZE
             , MIME_TYPE
             , REGI_USER
             , REGI_DATE
          FROM TM_FILEXM
         WHERE REGI_USER = #{regiUser}
      ORDER BY FILE_NUMB
    </select>

    <!-- 사용자 프로필과 배경에서 더 이상 참조하지 않는 파일 메타 정보를 삭제한다. -->
    <delete id="delFileIfUnreferenced" parameterType="long">
        DELETE /* delFileIfUnreferenced */
          FROM TM_FILEXM
         WHERE FILE_NUMB = #{fileNumb}
           AND NOT EXISTS (
                   SELECT 1
                     FROM TM_USERXM U
                    WHERE U.PROF_NUMB = #{fileNumb}
                       OR U.BGIM_NUMB = #{fileNumb}
               )
    </delete>
</mapper>
