<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.sadariUser.user.mapper.LoginHistoryMapper">

    <!-- 로그인 성공 이력을 TB_LOGHIS 테이블에 저장한다. -->
    <insert id="setLoginHistory" parameterType="org.our.sadari.sadariUser.user.dto.LoginHistoryDto">
        <selectKey keyProperty="lognNumb" resultType="long" order="BEFORE">
            SELECT LOGHIS_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TB_LOGHIS(
              LOGN_NUMB
            , USER_NUMB
            , LOGN_DATE
            , LOGN_IPXX
            , USER_AGNT
            , PROV_CODE
        )
        VALUES(
              #{lognNumb}
            , #{userNumb}
            , #{lognDate}
            , #{lognIpxx}
            , #{userAgnt}
            , #{provCode}
        )
    </insert>

</mapper>
