<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.sadariUser.user.mapper.TokenHistoryMapper">

    <!-- 기존 토큰 삭제 -->
    <delete id="deleteToken">
        DELETE FROM TB_TOKHIS
        WHERE USER_NUMB = #{userNumb}
    </delete>

    <!-- 새 토큰 저장 -->
    <insert id="setToken" parameterType="org.our.sadari.sadariUser.user.dto.TokenHistoryDto">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT TOKHIS_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TB_TOKHIS(
              CRET_DATE
            , EXPR_DATE
            , ID
            , USER_NUMB
            , REFR_TOKN
        )
        VALUES(
              #{cretDate}
            , #{exprDate}
            , #{id}
            , #{userNumb}
            , #{refrTokn}
        )
    </insert>

    <!-- 토큰 조회 -->
    <select id="getRefreshToken" parameterType="string" resultType="org.our.sadari.sadariUser.user.dto.TokenHistoryDto">
        SELECT 
              CRET_DATE
            , EXPR_DATE
            , ID
            , USER_NUMB
            , REFR_TOKN
        FROM TB_TOKHIS
        WHERE REFR_TOKN = #{refrTokn}
    </select>

</mapper>