<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.sadariUser.user.mapper.UserMapper">

    <!-- USER_IDXX 로 유저 조회 -->
    <select id="getUserByIdxx" parameterType="string" resultType="org.our.sadari.sadariUser.user.dto.UserDto">
        SELECT 
              USER_NUMB
            , PROF_PATH
            , USER_IDXX
            , USER_NICK
            , USER_PROV
            , USER_ROLE 
        FROM TM_USERXM
        WHERE USER_IDXX = #{userIdxx}
    </select>

    <!-- 신규 회원 가입 -->
    <insert id="setUser" parameterType="org.our.sadari.sadariUser.user.dto.UserDto">
        <selectKey keyProperty="userNumb" resultType="long" order="BEFORE">
            SELECT TM_USERXM_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TM_USERXM(
              JOIN_DATE
            , USER_NUMB
            , PROF_PATH
            , USER_IDXX
            , USER_NICK
            , USER_PROV
            , USER_ROLE
            )
        VALUES(
              #{userNumb}
            , #{porfPath}
            , #{userIdxx}
            , #{userNick}
            , #{userProv}
            , #{userRole}
        );
    </insert>

    <!-- 기존 토큰 삭제 -->
    <delete id="deleteToken">
        DELETE FROM TB_TOKHIS
        WHERE USER_NUMB = #{userNumb}
    </delete>

    <!-- 새 토큰 저장 -->
    <insert id="setToken" parameterType="org.our.sadari.sadariUser.user.dto.TokenHistoryDto">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT TOKHIS_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TB_TOKHIS(
              CRET_DATE
            , EXPR_DATE
            , ID
            , USER_NUMB
            , REFR_TOKN
        )
        VALUES(
               #{cretDate}
            , #{exprDate}
            , #{id}
            , #{userNumb}
            , #{refrTokn}
        )
    </insert>

</mapper>