<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.welcome.mapper.WelcomePageMapper">
    <!-- 웰컴페이지 접근자가 현재 활성 회원인지 확인한다 -->
    <select id="getActiveUserCnt" resultType="int">
        SELECT /* getActiveUserCnt */ COUNT(1)
          FROM TM_USERXM
         WHERE USER_NUMB = #{userNumb}
           AND USER_STAT = #{userStat}
    </select>

    <!-- 현재 배포 중인 관리자 관리 페이지를 노출 순서대로 조회한다 -->
    <select id="getWelcomePageList" resultType="org.our.sadari.welcome.dto.WelcomePageDto">
        SELECT /* getWelcomePageList */
               WLCM_NUMB
             , VERS_NUMB
             , SUBX_TITL
             , MAIN_TITL
             , PAGE_DESC
             , IMGE_URLX
             , SORT_ORDR
          FROM CT_WLCMPG
         WHERE DPLY_YSNO = #{yes}
      ORDER BY SORT_ORDR
             , WLCM_NUMB
    </select>
</mapper>
