<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.welcome.mapper.WelcomePageMapper">
    <!-- 웰컴페이지 접근자가 현재 활성 회원인지 확인함 -->
    <select id="getActiveUserCnt" resultType="int">
        SELECT /* getActiveUserCnt */ COUNT(1)
          FROM TM_USERXM
         WHERE USER_NUMB = #{userNumb}
           AND USER_STAT = #{userStat}
    </select>

    <!-- 현재 배포 중인 관리자 관리 페이지를 노출 순서대로 조회함 -->
    <select id="getWelcomePageList" resultType="org.our.sadari.welcome.dto.WelcomePageDto">
        <bind name="englishYsno" value="@org.our.sadari.global.common.util.LocaleUtil@getEnglishYsno()" />
        SELECT /* getWelcomePageList */
               WLCM_NUMB
             , VERS_NUMB
             , CASE WHEN #{englishYsno} = 'Y' THEN COALESCE(NULLIF(SUBX_ENTL, ''), SUBX_TITL) ELSE SUBX_TITL END AS SUBX_TITL
             , CASE WHEN #{englishYsno} = 'Y' THEN COALESCE(NULLIF(MAIN_ENTL, ''), MAIN_TITL) ELSE MAIN_TITL END AS MAIN_TITL
             , CASE WHEN #{englishYsno} = 'Y' THEN COALESCE(NULLIF(PAGE_ENCT, ''), PAGE_DESC) ELSE PAGE_DESC END AS PAGE_DESC
             , CASE WHEN #{englishYsno} = 'Y' THEN COALESCE(NULLIF(IMGE_ENUR, ''), IMGE_URLX) ELSE IMGE_URLX END AS IMGE_URLX
             , SORT_ORDR
          FROM CT_WLCMPG
         WHERE DPLY_YSNO = #{yes}
      ORDER BY SORT_ORDR
             , WLCM_NUMB
    </select>
</mapper>
