<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.social.mapper.SocialMapper">

    <!-- 팔로우 버튼 상태 조회에 사용하는 공통코드를 Java 상수와 일치시킴 -->
    <sql id="followStatusBindList">
        <bind name="codeFollowStat" value="@org.our.sadari.global.common.constant.Constant@CODE_FOLLOW_STAT" />
        <bind name="followStatFollow" value="@org.our.sadari.global.common.constant.Constant@FOLLOW_STAT_FOLLOW" />
        <bind name="followStatFollowing" value="@org.our.sadari.global.common.constant.Constant@FOLLOW_STAT_FOLLOWING" />
        <bind name="followStatBothFolw" value="@org.our.sadari.global.common.constant.Constant@FOLLOW_STAT_BOTH_FOLW" />
        <bind name="followStatFriend" value="@org.our.sadari.global.common.constant.Constant@FOLLOW_STAT_FRIEND" />
        <bind name="englishYsno" value="@org.our.sadari.global.common.util.LocaleUtil@getEnglishYsno()" />
    </sql>

    <!-- 팔로잉과 팔로워 목록이 같은 사용자 정보와 관계 상태 컬럼을 사용함 -->
    <sql id="followListColumnList">
               U.USER_NUMB
             , U.USER_NICK
             , U.INTR_CNTN
             , F.FILE_PATH AS PORF_PATH
             , CASE
                   WHEN U.USER_NUMB = #{loginUserNumb} THEN #{commYes}
                   ELSE #{commNo}
               END AS ME_YSNO
             , CASE
                   WHEN U.USER_NUMB = #{loginUserNumb} THEN NULL
                   WHEN USERFOLLOW.USER_NUMB IS NOT NULL AND REVERSEFOLLOW.USER_NUMB IS NOT NULL
                       THEN FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatFriend}, NULL, #{englishYsno})
                   WHEN USERFOLLOW.USER_NUMB IS NOT NULL
                       THEN FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatFollowing}, NULL, #{englishYsno})
                   WHEN REVERSEFOLLOW.USER_NUMB IS NOT NULL
                       THEN FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatBothFolw}, NULL, #{englishYsno})
                   ELSE FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatFollow}, NULL, #{englishYsno})
               END AS FOLLOW_STAT_NAME
    </sql>

    <!-- 양방향 팔로우 관계를 직접 조회해 현재 관계에서 보여줄 공통코드 버튼명을 반환함 -->
    <select id="getFollowStatusName" parameterType="org.our.sadari.social.dto.SocialDto$FollowDto" resultType="string">
        <include refid="followStatusBindList" />
        SELECT /* getFollowStatusName */
               CASE
                   WHEN USERFOLLOW.USER_NUMB IS NOT NULL AND REVERSEFOLLOW.USER_NUMB IS NOT NULL
                       THEN FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatFriend}, NULL, #{englishYsno})
                   WHEN USERFOLLOW.USER_NUMB IS NOT NULL
                       THEN FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatFollowing}, NULL, #{englishYsno})
                   WHEN REVERSEFOLLOW.USER_NUMB IS NOT NULL
                       THEN FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatBothFolw}, NULL, #{englishYsno})
                   ELSE FN_GET_CODE_NAME_LANG(#{codeFollowStat}, #{followStatFollow}, NULL, #{englishYsno})
               END AS FOLLOW_STAT_NAME
          FROM (  SELECT #{userNumb} AS USER_NUMB
                       , #{flowNumb} AS FLOW_NUMB
               ) TARGET
     LEFT JOIN TB_FOLLOW USERFOLLOW
            ON USERFOLLOW.USER_NUMB = TARGET.USER_NUMB
           AND USERFOLLOW.FLOW_NUMB = TARGET.FLOW_NUMB
     LEFT JOIN TB_FOLLOW REVERSEFOLLOW
            ON REVERSEFOLLOW.USER_NUMB = TARGET.FLOW_NUMB
           AND REVERSEFOLLOW.FLOW_NUMB = TARGET.USER_NUMB
    </select>

    <!-- 중복 팔로우 요청에서 PK 오류가 나지 않도록 MySQL 업서트로 한 번만 저장함 -->
    <insert id="setFollow" parameterType="org.our.sadari.social.dto.SocialDto$FollowDto">
        /* setFollow */
        INSERT INTO TB_FOLLOW (
                    USER_NUMB
                  , FLOW_NUMB
                  , REGI_DATE
        ) VALUES (  #{userNumb}
                  , #{flowNumb}
                  , CURRENT_TIMESTAMP
        ) AS NEW
        ON DUPLICATE KEY UPDATE
               USER_NUMB = NEW.USER_NUMB
    </insert>

    <!-- 로그인 사용자가 상대 사용자를 팔로우 중인 관계만 삭제함 -->
    <delete id="delFollow" parameterType="org.our.sadari.social.dto.SocialDto$FollowDto">
        DELETE /* delFollow */
          FROM TB_FOLLOW
         WHERE USER_NUMB = #{userNumb}
           AND FLOW_NUMB = #{flowNumb}
    </delete>

    <!-- 사용자가 해당 대상에 이미 좋아요를 눌렀는지 확인함 -->
    <select id="dupLike" parameterType="org.our.sadari.social.dto.SocialDto$LikeDto" resultType="int">
        SELECT /* dupLike */
               COUNT(*)
          FROM TB_LIKEXX
         WHERE USER_NUMB = #{userNumb}
           AND TAGT_TYPE = #{tagtType}
           AND TAGT_NUMB = #{tagtNumb}
    </select>

    <!-- 좋아요를 등록함. 대상 유형과 대상 번호는 요청 DTO 값을 그대로 사용함 -->
    <insert id="setLike" parameterType="org.our.sadari.social.dto.SocialDto$LikeDto">
        /* setLike */
        INSERT INTO TB_LIKEXX (
                    USER_NUMB
                  , TAGT_TYPE
                  , TAGT_NUMB
                  , REGI_DATE
        ) VALUES (  #{userNumb}
                  , #{tagtType}
                  , #{tagtNumb}
                  , CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 좋아요를 취소함 -->
    <delete id="delLike" parameterType="org.our.sadari.social.dto.SocialDto$LikeDto">
        DELETE /* delLike */
          FROM TB_LIKEXX
         WHERE USER_NUMB = #{userNumb}
           AND TAGT_TYPE = #{tagtType}
           AND TAGT_NUMB = #{tagtNumb}
    </delete>

    <!-- 특정 대상에 연결된 좋아요를 모두 정리함 -->
    <delete id="delLikeByTarget" parameterType="org.our.sadari.social.dto.SocialDto$LikeDto">
        DELETE /* delLikeByTarget */
          FROM TB_LIKEXX
         WHERE TAGT_TYPE = #{tagtType}
           AND TAGT_NUMB = #{tagtNumb}
    </delete>

    <!-- 좋아요 토글 후 화면에 표시할 좋아요 수와 현재 사용자의 좋아요 여부를 조회함 -->
    <select id="getLikeDtl" parameterType="org.our.sadari.social.dto.SocialDto$LikeDto" resultType="org.our.sadari.social.dto.SocialDto$LikeDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="userStatActive" value="@org.our.sadari.global.common.constant.Constant@USER_STAT_ACTIVE" />
        SELECT /* getLikeDtl */
               R.TAGT_TYPE
             , R.TAGT_NUMB
             , COALESCE(LC.LIKE_CNT, 0) AS LIKE_CNT
             , COALESCE(UL.LIKE_YSNO, #{commNo}) AS LIKE_YSNO
          FROM (  SELECT #{tagtType} AS TAGT_TYPE
                       , #{tagtNumb} AS TAGT_NUMB
                ) R
     LEFT JOIN (  SELECT L.TAGT_TYPE
                       , L.TAGT_NUMB
                       , COUNT(*) AS LIKE_CNT
                    FROM TB_LIKEXX L
              INNER JOIN TM_USERXM U
                      ON U.USER_NUMB = L.USER_NUMB
                     AND U.USER_STAT = #{userStatActive}
                   WHERE L.TAGT_TYPE = #{tagtType}
                     AND L.TAGT_NUMB = #{tagtNumb}
                     AND NOT EXISTS (
                         SELECT 1
                           FROM TB_USBLOC B
                          WHERE (B.USER_NUMB = #{userNumb} AND B.BLOC_NUMB = L.USER_NUMB)
                             OR (B.USER_NUMB = L.USER_NUMB AND B.BLOC_NUMB = #{userNumb})
                     )
                GROUP BY L.TAGT_TYPE, L.TAGT_NUMB
               ) LC
            ON LC.TAGT_TYPE = R.TAGT_TYPE
           AND LC.TAGT_NUMB = R.TAGT_NUMB
     LEFT JOIN (  SELECT L.TAGT_TYPE
                       , L.TAGT_NUMB
                       , #{commYes} AS LIKE_YSNO
                    FROM TB_LIKEXX L
                   WHERE L.TAGT_TYPE = #{tagtType}
                     AND L.TAGT_NUMB = #{tagtNumb}
                     AND L.USER_NUMB = #{userNumb}
                ) UL
            ON UL.TAGT_TYPE = R.TAGT_TYPE
           AND UL.TAGT_NUMB = R.TAGT_NUMB
    </select>

    <!-- 본인 또는 다른 사용자 프로필에 표시할 통계를 같은 SQL로 집계함
         공개 여부가 전달되면 총 읽은 책과 받은 좋아요를 공개 독후감 범위로 제한함 -->
    <select id="getProfileStats" parameterType="org.our.sadari.social.dto.SocialDto$ProfileStatsDto" resultType="org.our.sadari.social.dto.SocialDto$ProfileStatsDto">
        <bind name="reportStatDone" value="@org.our.sadari.global.common.constant.Constant@REPORT_STAT_DONE" />
        <bind name="likeTargetReport" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_REPORT" />
        <bind name="userStatActive" value="@org.our.sadari.global.common.constant.Constant@USER_STAT_ACTIVE" />
        SELECT /* getProfileStats */
               TARGET.USER_NUMB
             , COALESCE(READSTATS.TOTAL_READ_BOOK_CNT, 0) AS TOTAL_READ_BOOK_CNT
             , COALESCE(FOLLOWINGSTATS.FOLLOWING_CNT, 0) AS FOLLOWING_CNT
             , COALESCE(FOLLOWERSTATS.FOLLOWER_CNT, 0) AS FOLLOWER_CNT
             , COALESCE(LIKESTATS.RECEIVED_LIKE_CNT, 0) AS RECEIVED_LIKE_CNT
          FROM (  SELECT #{userNumb} AS USER_NUMB
               ) TARGET
     LEFT JOIN (  SELECT REPORT.USER_NUMB
                       , COUNT(*) AS TOTAL_READ_BOOK_CNT
                    FROM TM_REPORT REPORT
                   WHERE REPORT.REPT_STAT = #{reportStatDone}
                     AND REPORT.USER_NUMB = #{userNumb}
        <if test="pubcYsno != null and pubcYsno != ''">
                     AND REPORT.PUBC_YSNO = #{pubcYsno}
        </if>
                GROUP BY REPORT.USER_NUMB
               ) READSTATS
            ON READSTATS.USER_NUMB = TARGET.USER_NUMB
     LEFT JOIN (  SELECT FOLLOW.USER_NUMB
                       , COUNT(*) AS FOLLOWING_CNT
                    FROM TB_FOLLOW FOLLOW
                   WHERE FOLLOW.USER_NUMB = #{userNumb}
                     AND NOT EXISTS (
                         SELECT 1
                           FROM TB_USBLOC B
                          WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = FOLLOW.FLOW_NUMB)
                             OR (B.USER_NUMB = FOLLOW.FLOW_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
                     )
                GROUP BY FOLLOW.USER_NUMB
               ) FOLLOWINGSTATS
            ON FOLLOWINGSTATS.USER_NUMB = TARGET.USER_NUMB
     LEFT JOIN (  SELECT FOLLOW.FLOW_NUMB AS USER_NUMB
                       , COUNT(*) AS FOLLOWER_CNT
                    FROM TB_FOLLOW FOLLOW
                   WHERE FOLLOW.FLOW_NUMB = #{userNumb}
                     AND NOT EXISTS (
                         SELECT 1
                           FROM TB_USBLOC B
                          WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = FOLLOW.USER_NUMB)
                             OR (B.USER_NUMB = FOLLOW.USER_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
                     )
                GROUP BY FOLLOW.FLOW_NUMB
               ) FOLLOWERSTATS
            ON FOLLOWERSTATS.USER_NUMB = TARGET.USER_NUMB
     LEFT JOIN (  SELECT REPORT.USER_NUMB
                       , COUNT(*) AS RECEIVED_LIKE_CNT
                    FROM TB_LIKEXX LIKES
              INNER JOIN TM_USERXM LIKEUSER
                      ON LIKEUSER.USER_NUMB = LIKES.USER_NUMB
                     AND LIKEUSER.USER_STAT = #{userStatActive}
              INNER JOIN TM_REPORT REPORT
                      ON REPORT.REPT_NUMB = LIKES.TAGT_NUMB
                   WHERE LIKES.TAGT_TYPE = #{likeTargetReport}
                     AND REPORT.USER_NUMB = #{userNumb}
                     AND NOT EXISTS (
                         SELECT 1
                           FROM TB_USBLOC B
                          WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = LIKES.USER_NUMB)
                             OR (B.USER_NUMB = LIKES.USER_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
                     )
        <if test="pubcYsno != null and pubcYsno != ''">
                     AND REPORT.PUBC_YSNO = #{pubcYsno}
        </if>
                GROUP BY REPORT.USER_NUMB
               ) LIKESTATS
            ON LIKESTATS.USER_NUMB = TARGET.USER_NUMB
    </select>

    <!-- 닉네임이 검색어를 포함하는 활성 사용자를 친구, 한쪽 팔로우 관계, 무관계 순으로 조회함 -->
    <select id="getUserSearchList" parameterType="org.our.sadari.social.dto.SocialDto$UserSearchReqDto" resultType="org.our.sadari.social.dto.SocialDto$FollowUserDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="userStatActive" value="@org.our.sadari.global.common.constant.Constant@USER_STAT_ACTIVE" />
        <include refid="followStatusBindList" />
        SELECT /* getUserSearchList */
        <include refid="followListColumnList" />
          FROM TM_USERXM U
     LEFT JOIN TM_FILEXM F
            ON F.FILE_NUMB = U.PROF_NUMB
     LEFT JOIN TB_FOLLOW USERFOLLOW
            ON USERFOLLOW.USER_NUMB = #{loginUserNumb}
           AND USERFOLLOW.FLOW_NUMB = U.USER_NUMB
     LEFT JOIN TB_FOLLOW REVERSEFOLLOW
            ON REVERSEFOLLOW.USER_NUMB = U.USER_NUMB
           AND REVERSEFOLLOW.FLOW_NUMB = #{loginUserNumb}
         WHERE U.USER_STAT = #{userStatActive}
           AND U.USER_NUMB != #{loginUserNumb}
           AND INSTR(U.USER_NICK, #{keyword}) <![CDATA[>]]> 0
           AND NOT EXISTS (
               SELECT 1
                 FROM TB_USBLOC B
                WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = U.USER_NUMB)
                   OR (B.USER_NUMB = U.USER_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
           )
      ORDER BY CASE
                   WHEN USERFOLLOW.USER_NUMB IS NOT NULL AND REVERSEFOLLOW.USER_NUMB IS NOT NULL
                       THEN 0
                   WHEN USERFOLLOW.USER_NUMB IS NOT NULL OR REVERSEFOLLOW.USER_NUMB IS NOT NULL
                       THEN 1
                   ELSE 2
               END
             , U.USER_NICK
             , U.USER_NUMB
         LIMIT #{pageOffset}, #{pageLimit}
    </select>

    <!-- 특정 사용자가 팔로우하고 있는 사용자 목록을 조회함
         로그인 사용자 기준 버튼명을 함께 계산해 모달에서 사용자별 상태 API를 반복 호출하지 않게 함 -->
    <select id="getFollowingList" parameterType="org.our.sadari.social.dto.SocialDto$FollowListReqDto" resultType="org.our.sadari.social.dto.SocialDto$FollowUserDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <include refid="followStatusBindList" />
        SELECT /* getFollowingList */
        <include refid="followListColumnList" />
          FROM TB_FOLLOW FL
    INNER JOIN TM_USERXM U
            ON U.USER_NUMB = FL.FLOW_NUMB
     LEFT JOIN TM_FILEXM F
            ON F.FILE_NUMB = U.PROF_NUMB
     LEFT JOIN TB_FOLLOW USERFOLLOW
            ON USERFOLLOW.USER_NUMB = #{loginUserNumb}
           AND USERFOLLOW.FLOW_NUMB = U.USER_NUMB
     LEFT JOIN TB_FOLLOW REVERSEFOLLOW
            ON REVERSEFOLLOW.USER_NUMB = U.USER_NUMB
           AND REVERSEFOLLOW.FLOW_NUMB = #{loginUserNumb}
         WHERE FL.USER_NUMB = #{userNumb}
        <if test="keyword != null and keyword != ''">
           AND INSTR(U.USER_NICK, #{keyword}) <![CDATA[>]]> 0
        </if>
           AND NOT EXISTS (
               SELECT 1
                 FROM TB_USBLOC B
                WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = U.USER_NUMB)
                   OR (B.USER_NUMB = U.USER_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
           )
      ORDER BY CASE WHEN USERFOLLOW.USER_NUMB IS NOT NULL AND REVERSEFOLLOW.USER_NUMB IS NOT NULL
                        THEN 0
                   ELSE 1
               END
             , CASE WHEN U.USER_NUMB = #{loginUserNumb} THEN 0 ELSE 1 END
             , FL.REGI_DATE DESC
             , U.USER_NUMB DESC
         LIMIT #{pageOffset}, #{pageLimit}
    </select>

    <!-- 특정 사용자를 팔로우하는 사용자 목록을 조회함
         팔로워 목록도 팔로잉 목록과 같은 응답 구조를 사용해 프론트 모달을 공통으로 렌더링함 -->
    <select id="getFollowerList" parameterType="org.our.sadari.social.dto.SocialDto$FollowListReqDto" resultType="org.our.sadari.social.dto.SocialDto$FollowUserDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <include refid="followStatusBindList" />
        SELECT /* getFollowerList */
        <include refid="followListColumnList" />
          FROM TB_FOLLOW FL
    INNER JOIN TM_USERXM U
            ON U.USER_NUMB = FL.USER_NUMB
     LEFT JOIN TM_FILEXM F
            ON F.FILE_NUMB = U.PROF_NUMB
     LEFT JOIN TB_FOLLOW USERFOLLOW
            ON USERFOLLOW.USER_NUMB = #{loginUserNumb}
           AND USERFOLLOW.FLOW_NUMB = U.USER_NUMB
     LEFT JOIN TB_FOLLOW REVERSEFOLLOW
            ON REVERSEFOLLOW.USER_NUMB = U.USER_NUMB
           AND REVERSEFOLLOW.FLOW_NUMB = #{loginUserNumb}
         WHERE FL.FLOW_NUMB = #{userNumb}
        <if test="keyword != null and keyword != ''">
           AND INSTR(U.USER_NICK, #{keyword}) <![CDATA[>]]> 0
        </if>
           AND NOT EXISTS (
               SELECT 1
                 FROM TB_USBLOC B
                WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = U.USER_NUMB)
                   OR (B.USER_NUMB = U.USER_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
           )
      ORDER BY CASE WHEN USERFOLLOW.USER_NUMB IS NOT NULL AND REVERSEFOLLOW.USER_NUMB IS NOT NULL
                        THEN 0
                   ELSE 1
               END
             , CASE WHEN U.USER_NUMB = #{loginUserNumb} THEN 0 ELSE 1 END
             , FL.REGI_DATE DESC
             , U.USER_NUMB DESC
         LIMIT #{pageOffset}, #{pageLimit}
    </select>
    <!-- 로그인 사용자가 현재 화면에서 확인할 수 있는 좋아요 대상인지 서버 원본으로 검증함 -->
    <select id="getLikeTargetAccessCnt" parameterType="org.our.sadari.social.dto.SocialDto$LikeUserReqDto" resultType="int">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="targetReport" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_REPORT" />
        <bind name="targetProfile" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_PROFILE_IMAGE" />
        <bind name="targetBackground" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_BACKGROUND_IMAGE" />
        <bind name="targetReply" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_REPLY" />
        <bind name="reportStatRead" value="@org.our.sadari.global.common.constant.Constant@REPORT_STAT_READ" />
        <bind name="userStatActive" value="@org.our.sadari.global.common.constant.Constant@USER_STAT_ACTIVE" />
        <bind name="memberActive" value="'ACTIVE'" />
        <bind name="roundCompleted" value="'COMPLETED'" />
        SELECT /* getLikeTargetAccessCnt */ COUNT(*)
          FROM (
                SELECT REPORT.REPT_NUMB AS TAGT_NUMB
                  FROM TM_REPORT REPORT
                 WHERE #{tagtType} = #{targetReport}
                   AND REPORT.REPT_NUMB = #{tagtNumb}
                   AND EXISTS (
                        SELECT 1
                          FROM TM_USERXM OWNERX
                         WHERE OWNERX.USER_NUMB = REPORT.USER_NUMB
                           AND OWNERX.USER_STAT = #{userStatActive}
                   )
                   AND (REPORT.USER_NUMB = #{loginUserNumb}
                        OR (REPORT.PUBC_YSNO = #{commYes} AND REPORT.REPT_STAT != #{reportStatRead})
                        OR EXISTS (
                            SELECT 1
                              FROM TB_CLPART PART
                              JOIN TM_CLRNDX ROUNDX
                                ON ROUNDX.CLUB_NUMB = PART.CLUB_NUMB
                               AND ROUNDX.ROND_NUMB = PART.ROND_NUMB
                               AND ROUNDX.ROND_STAT = #{roundCompleted}
                              JOIN TB_CLMEMX VIEWER
                                ON VIEWER.CLUB_NUMB = PART.CLUB_NUMB
                               AND VIEWER.USER_NUMB = #{loginUserNumb}
                               AND VIEWER.MEMB_STAT = #{memberActive}
                             WHERE PART.REPT_NUMB = REPORT.REPT_NUMB
                        ))
                 UNION ALL
                SELECT USERX.USER_NUMB AS TAGT_NUMB
                  FROM TM_USERXM USERX
                 WHERE USERX.USER_STAT = #{userStatActive}
                   AND ((#{tagtType} = #{targetProfile} AND USERX.PROF_NUMB = #{tagtNumb})
                        OR (#{tagtType} = #{targetBackground} AND USERX.BGIM_NUMB = #{tagtNumb}))
                 UNION ALL
                SELECT REPLY.REPL_NUMB AS TAGT_NUMB
                  FROM TB_REPLXX REPLY
                 WHERE #{tagtType} = #{targetReply}
                   AND REPLY.REPL_NUMB = #{tagtNumb}
                   AND REPLY.DELT_YSNO = #{commNo}
                   AND (
                        (REPLY.TAGT_TYPE = #{targetReport} AND EXISTS (
                            SELECT 1
                             FROM TM_REPORT REPORT
                             WHERE REPORT.REPT_NUMB = REPLY.TAGT_NUMB
                               AND EXISTS (
                                    SELECT 1
                                      FROM TM_USERXM OWNERX
                                     WHERE OWNERX.USER_NUMB = REPORT.USER_NUMB
                                       AND OWNERX.USER_STAT = #{userStatActive}
                               )
                               AND (REPORT.USER_NUMB = #{loginUserNumb}
                                    OR (REPORT.PUBC_YSNO = #{commYes} AND REPORT.REPT_STAT != #{reportStatRead})
                                    OR EXISTS (
                                        SELECT 1
                                          FROM TB_CLPART PART
                                          JOIN TM_CLRNDX ROUNDX
                                            ON ROUNDX.CLUB_NUMB = PART.CLUB_NUMB
                                           AND ROUNDX.ROND_NUMB = PART.ROND_NUMB
                                           AND ROUNDX.ROND_STAT = #{roundCompleted}
                                          JOIN TB_CLMEMX VIEWER
                                            ON VIEWER.CLUB_NUMB = PART.CLUB_NUMB
                                           AND VIEWER.USER_NUMB = #{loginUserNumb}
                                           AND VIEWER.MEMB_STAT = #{memberActive}
                                         WHERE PART.REPT_NUMB = REPORT.REPT_NUMB
                                    ))
                        ))
                        OR EXISTS (
                            SELECT 1
                              FROM TM_USERXM USERX
                             WHERE USERX.USER_STAT = #{userStatActive}
                               AND ((REPLY.TAGT_TYPE = #{targetProfile} AND USERX.PROF_NUMB = REPLY.TAGT_NUMB)
                                    OR (REPLY.TAGT_TYPE = #{targetBackground} AND USERX.BGIM_NUMB = REPLY.TAGT_NUMB))
                        )
                   )
               ) TARGETX
    </select>

    <!-- 좋아요를 등록한 활성 사용자와 로그인 사용자 기준 팔로우 상태를 최신 좋아요 순으로 조회함 -->
    <select id="getLikeUserList" parameterType="org.our.sadari.social.dto.SocialDto$LikeUserReqDto" resultType="org.our.sadari.social.dto.SocialDto$FollowUserDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="userStatActive" value="@org.our.sadari.global.common.constant.Constant@USER_STAT_ACTIVE" />
        <include refid="followStatusBindList" />
        SELECT /* getLikeUserList */
        <include refid="followListColumnList" />
          FROM TB_LIKEXX LIKES
    INNER JOIN TM_USERXM U
            ON U.USER_NUMB = LIKES.USER_NUMB
           AND U.USER_STAT = #{userStatActive}
     LEFT JOIN TM_FILEXM F
            ON F.FILE_NUMB = U.PROF_NUMB
     LEFT JOIN TB_FOLLOW USERFOLLOW
            ON USERFOLLOW.USER_NUMB = #{loginUserNumb}
           AND USERFOLLOW.FLOW_NUMB = U.USER_NUMB
     LEFT JOIN TB_FOLLOW REVERSEFOLLOW
            ON REVERSEFOLLOW.USER_NUMB = U.USER_NUMB
           AND REVERSEFOLLOW.FLOW_NUMB = #{loginUserNumb}
         WHERE LIKES.TAGT_TYPE = #{tagtType}
           AND LIKES.TAGT_NUMB = #{tagtNumb}
           AND NOT EXISTS (
               SELECT 1
                 FROM TB_USBLOC B
                WHERE (B.USER_NUMB = #{loginUserNumb} AND B.BLOC_NUMB = U.USER_NUMB)
                   OR (B.USER_NUMB = U.USER_NUMB AND B.BLOC_NUMB = #{loginUserNumb})
           )
      ORDER BY LIKES.REGI_DATE DESC
             , U.USER_NUMB DESC
         LIMIT #{pageOffset}, #{pageLimit}
    </select>
</mapper>
