<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.sadariBook.mapper.ReportMapper">

    <!-- 독후감 리스트 조회 -->
    <select id="getReportList" parameterType="org.our.sadari.sadariBook.dto.ReportDto" resultType="org.our.sadari.sadariBook.dto.ReportDto">
        SELECT A.BOOK_NUMB
             , A.REPORT_NUMB
             , A.USER_NUMB
             , A.REPORT_CNTN
             , A.REPORT_ENDT
             , A.REPORT_GRDE
             , A.REPORT_STAT
             , A.REPORT_STDT
             , B.BOOK_TITL
          FROM TM_BOOK_REPORT A
     LEFT JOIN TM_BOOK_INFO B
           ON A.BOOK_NUMB = B.BOOK_NUMB
        WHERE A.USER_NUMB = #{userNumb}
    </select>

    <!-- 독후감 상세보기 -->
    <select id="getReportDtl" parameterType="org.our.sadari.sadariBook.dto.ReportDto" resultType="org.our.sadari.sadariBook.dto.ReportDto">
        SELECT A.BOOK_NUMB
             , A.REPORT_NUMB
             , A.USER_NUMB
             , A.REPORT_CNTN
             , A.REPORT_ENDT
             , A.REPORT_GRDE
             , A.REPORT_STAT
             , A.REPORT_STDT
             , B.BOOK_TITL
             , B.BOOK_ATHR
             , B.BOOK_CVIM
             , B.BOOK_ISBN
             , B.BOOK_PUBL
             , B.BOOK_DESC
          FROM TM_BOOK_REPORT A
     LEFT JOIN TM_BOOK_INFO B
            ON A.BOOK_NUMB = B.BOOK_NUMB
         WHERE A.USER_NUMB = #{userNumb}
           AND A.REPORT_NUMB = #{reportNumb}
    </select>

    <!-- 책 중복 검사 -->
    <select id="dupBook"  parameterType="org.our.sadari.sadariBook.dto.BookDto" resultType="int">
        SELECT COUNT(*)
        FROM TM_BOOK_INFO
        WHERE BOOK_ISBN = #{bookIsbn}
    </select>

    <!-- 책이 중복일 때 bookNumb 조회 -->
    <select id="getBookNumbByIsbn" resultType="long">
        SELECT BOOK_NUMB
        FROM TM_BOOK_INFO
        WHERE BOOK_ISBN = #{bookIsbn}
    </select>
    
    <!-- 책 저장 -->
    <insert id="setBook" parameterType="org.our.sadari.sadariBook.dto.ReportDto">
        <!-- SEQUENCE로 PK 생성 -->
        <selectKey keyProperty="bookNumb" resultType="long" order="BEFORE">
            SELECT TM_BOOK_INFO_SEQ.NEXTVAL FROM DUAL
        </selectKey>


        INSERT INTO TM_BOOK_INFO(
            BOOK_NUMB
            , BOOK_ATHR
            , BOOK_CVIM
            , BOOK_ISBN
            , BOOK_PUBL
            , BOOK_TITL
            , BOOK_DESC
        )
        VALUES(
              #{bookNumb}
            , #{bookAthr}
            , #{bookCvim}
            , #{bookIsbn}
            , #{bookPubl}
            , #{bookTitl}
            , #{bookDesc}
        )
    </insert>

    <!-- 독후감 저장 -->
    <insert id="setReport" parameterType="org.our.sadari.sadariBook.dto.ReportDto">
        <!-- SEQUENCE로 PK 생성 -->
        <selectKey keyProperty="reportNumb" resultType="long" order="BEFORE">
            SELECT TM_BOOK_REPORT_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TM_BOOK_REPORT(
              BOOK_NUMB
            , REPORT_NUMB
            , USER_NUMB
            , REPORT_CNTN
            , REPORT_ENDT
            , REPORT_GRDE
            , REPORT_STAT
            , REPORT_STDT
        )
        VALUES(
              #{bookNumb}
            , #{reportNumb}
            , #{userNumb}
            , #{reportCntn}
            , #{reportEndt}
            , #{reportGrde}
            , #{reportStat}
            , #{reportStdt}
        )
    </insert>
</mapper>