<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.global.scheduler.mapper.SchedulerLogMapper">

    <!-- 스케줄러 실행 시작 정보를 TL_SCLOGX에 등록한다. -->
    <insert id="setSchedulerLog" parameterType="org.our.sadari.global.scheduler.dto.SchedulerLogDto$SchedulerRunDto">
        <selectKey keyProperty="runxNumb" resultType="long" order="BEFORE">
            SELECT TL_SCLOGX_SEQ.NEXTVAL
              FROM DUAL
        </selectKey>
        INSERT /* setSchedulerLog */
               INTO TL_SCLOGX (
                    RUNX_NUMB
                  , SCHD_CODE
                  , METH_NAME
                  , EXEC_STAT
                  , STRT_DATE
                  , TRGT_CNTT
                  , SUCC_CNTT
                  , FAIL_CNTT
        ) VALUES (  #{runxNumb}
                  , #{schdCode}
                  , #{methName}
                  , #{execStat}
                  , SYSTIMESTAMP
                  , #{trgtCntt}
                  , #{succCntt}
                  , #{failCntt}
        )
    </insert>

    <!-- 스케줄러 최종 상태와 처리 건수 및 실행 시간을 TL_SCLOGX에 수정한다. -->
    <update id="uptSchedulerLog" parameterType="org.our.sadari.global.scheduler.dto.SchedulerLogDto$SchedulerRunDto">
        UPDATE /* uptSchedulerLog */
               TL_SCLOGX
           SET EXEC_STAT = #{execStat}
             , FNSH_DATE = SYSTIMESTAMP
             , TRGT_CNTT = #{trgtCntt}
             , SUCC_CNTT = #{succCntt}
             , FAIL_CNTT = #{failCntt}
             , EXEC_MSEC = #{execMsec}
         WHERE RUNX_NUMB = #{runxNumb}
    </update>

    <!--
        동일 실행 내 MAX+1 실패 순번으로 TL_SCFAIL에 실패 상세 정보를 등록한다.
        실패 유형에 따라 NULL이 되는 결과·예외 컬럼은 Oracle이 JdbcType.OTHER를 거부하므로 실제 컬럼 JDBC 타입을 명시한다.
    -->
    <insert id="setSchedulerFail" parameterType="org.our.sadari.global.scheduler.dto.SchedulerLogDto$SchedulerFailDto">
        <bind name="numberZero" value="@org.our.sadari.global.common.constant.Constant@NUMBER_ZERO" />
        <bind name="numberOne" value="@org.our.sadari.global.common.constant.Constant@NUMBER_ONE" />
        /* setSchedulerFail */
        INSERT INTO TL_SCFAIL (
                    RUNX_NUMB
                  , FAIL_NUMB
                  , FAIL_TYPE
                  , RSLT_CODE
                  , RSLT_MESG
                  , ERRO_TYPE
                  , ERRO_CNTN
                  , FAIL_DATE
        )
        SELECT #{runxNumb}
             , NVL(MAX(FAIL.FAIL_NUMB), #{numberZero}) + #{numberOne}
             , #{failType}
             , #{rsltCode, jdbcType=NUMERIC}
             , #{rsltMesg, jdbcType=VARCHAR}
             , #{erroType, jdbcType=VARCHAR}
             , #{erroCntn, jdbcType=VARCHAR}
             , SYSTIMESTAMP
          FROM TL_SCFAIL FAIL
         WHERE FAIL.RUNX_NUMB = #{runxNumb}
    </insert>
</mapper>
