<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.global.scheduler.mapper.UserHardDeleteMapper">

    <!-- 삭제 예정일이 지난 영구 탈퇴 회원을 오래된 요청부터 제한 건수만큼 조회한다. -->
    <select id="getHardDeleteTargetList" parameterType="int" resultType="org.our.sadari.user.dto.UserWithdrawalDto">
        SELECT /* getHardDeleteTargetList */
               W.WTHD_NUMB
             , W.USER_NUMB
             , W.DELT_DATE
          FROM TH_USWTHD W
          JOIN TM_USERXM U
            ON W.USER_NUMB = U.USER_NUMB
         WHERE W.WTHD_STAT = 'DELETE_PENDING'
           AND U.USER_STAT = 'DELETE_PENDING'
           AND W.DELT_DATE <![CDATA[ <= ]]> SYSDATE
         ORDER BY W.DELT_DATE
         FETCH FIRST #{maxSize} ROWS ONLY
    </select>

    <!-- 회원 연관 데이터를 참조 순서에 맞게 제거하고 로그인 이력은 회원 번호만 익명화한다. -->
    <delete id="delHardDeleteUser" parameterType="long" statementType="CALLABLE">
        BEGIN
            /* delHardDeleteUser */
            UPDATE TB_LOGHIS
               SET USER_NUMB = NULL
             WHERE USER_NUMB = #{userNumb};

            DELETE FROM TB_REPLXX
             WHERE REPT_NUMB IN (
                       SELECT REPT_NUMB
                         FROM TM_REPORT
                        WHERE USER_NUMB = #{userNumb}
                   );

            DELETE FROM TB_REPLXX
             WHERE (REPT_NUMB, UPER_NUMB) IN (
                       SELECT REPT_NUMB
                            , REPL_NUMB
                         FROM TB_REPLXX
                        WHERE USER_NUMB = #{userNumb}
                   );

            DELETE FROM TB_REPLXX
             WHERE USER_NUMB = #{userNumb};

            DELETE FROM TB_LIKEXX
             WHERE USER_NUMB = #{userNumb}
                OR (
                       TAGT_TYPE = 'REPORT'
                   AND TAGT_NUMB IN (
                           SELECT REPT_NUMB
                             FROM TM_REPORT
                            WHERE USER_NUMB = #{userNumb}
                       )
                   );

            DELETE FROM TB_FOLLOW
             WHERE USER_NUMB = #{userNumb}
                OR FLOW_NUMB = #{userNumb};

            DELETE FROM TB_ALIMXX
             WHERE USER_NUMB = #{userNumb};

            DELETE FROM TB_PSHSUB
             WHERE USER_NUMB = #{userNumb};

            DELETE FROM TM_GOALXM
             WHERE USER_NUMB = #{userNumb};

            DELETE FROM TM_REPORT
             WHERE USER_NUMB = #{userNumb};

            UPDATE TM_USERXM
               SET PROF_NUMB = NULL
                 , BGIM_NUMB = NULL
             WHERE USER_NUMB = #{userNumb};

            DELETE FROM TM_FILEXM
             WHERE REGI_USER = #{userNumb};

            DELETE FROM TM_USERXM
             WHERE USER_NUMB = #{userNumb};
        END;
    </delete>

</mapper>
