<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.global.scheduler.mapper.UserHardDeleteMapper">

    <!-- 삭제 예정일이 지난 영구 탈퇴 회원을 오래된 요청부터 제한 건수만큼 조회한다. -->
    <select id="getHardDeleteTargetList" parameterType="int" resultType="org.our.sadari.user.dto.UserWithdrawalDto">
        SELECT /* getHardDeleteTargetList */
               TARGET.WTHD_NUMB
             , TARGET.USER_NUMB
             , TARGET.DELT_DATE
          FROM (  SELECT W.WTHD_NUMB
                       , W.USER_NUMB
                       , W.DELT_DATE
                    FROM TH_USWTHD W
                    JOIN TM_USERXM U
                      ON W.USER_NUMB = U.USER_NUMB
                   WHERE W.WTHD_STAT = 'DELETE_PENDING'
                     AND U.USER_STAT = 'DELETE_PENDING'
                     AND W.DELT_DATE <![CDATA[ <= ]]> CURRENT_TIMESTAMP
                ORDER BY W.DELT_DATE
                       , W.WTHD_NUMB
               ) TARGET
         LIMIT #{maxSize}
    </select>

    <!-- 피신고자 연결 익명화 전에 해당 회원의 접수 또는 검토 중 신고를 시스템 종결한다. -->
    <update id="uptHardDeleteComplaints">
        <bind name="cmplReceived"
              value="@org.our.sadari.global.common.constant.Constant@COMPLAINT_STATUS_RECEIVED"/>
        <bind name="cmplReviewing"
              value="@org.our.sadari.global.common.constant.Constant@COMPLAINT_STATUS_REVIEWING"/>
        <bind name="cmplActioned"
              value="@org.our.sadari.global.common.constant.Constant@COMPLAINT_STATUS_ACTIONED"/>
        UPDATE /* uptHardDeleteComplaints */
               TH_CMPLNT
           SET CMPL_STAT = #{cmplActioned}
             , PROC_CNTN = #{procCntn}
             , PROC_ADMN = NULL
             , PROC_DATE = CURRENT_TIMESTAMP(6)
             , UPDT_DATE = CURRENT_TIMESTAMP(6)
         WHERE TAGT_USER = #{userNumb}
           AND CMPL_STAT IN (#{cmplReceived}, #{cmplReviewing})
    </update>

    <!-- 탈퇴 이력의 회원 번호는 보존하고 회원 연관 데이터를 참조 순서에 맞게 제거한다. -->
    <delete id="delHardDeleteUser" parameterType="long" statementType="CALLABLE">
        /* delHardDeleteUser */
        {CALL PR_DEL_HARD_DELETE_USER(#{userNumb})}
    </delete>

</mapper>
