<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.user.mapper.NicknameSequenceMapper">

    <!-- 동일한 세부코드 조합의 번호 발급을 행 잠금으로 직렬화하고 최대 번호를 초과하지 않게 증가시킴 -->
    <update id="uptNicknameSequence" parameterType="org.our.sadari.user.dto.NicknameSequenceDto">
        <bind name="maxSequence" value="@org.our.sadari.global.common.constant.Constant@NICK_SEQUENCE_MAX_NUMBER" />
        UPDATE /* uptNicknameSequence */
               TB_NKSEQX
           SET LAST_NUMB = LAST_NUMB + 1
             , UPDT_DATE = CURRENT_TIMESTAMP
         WHERE SUBJ_CODE = #{subjCode}
           AND PRED_CODE = #{predCode}
           AND ANML_CODE = #{anmlCode}
           AND ISSU_YEAM = DATE_FORMAT(CURRENT_TIMESTAMP, '%y%m')
           AND LAST_NUMB <![CDATA[<]]> #{maxSequence}
    </update>

    <!-- 현재 연월에 처음 선택된 세부코드 조합의 최초 번호를 등록함 -->
    <insert id="setNicknameSequence" parameterType="org.our.sadari.user.dto.NicknameSequenceDto">
        <bind name="firstSequence" value="@org.our.sadari.global.common.constant.Constant@NUMBER_ONE" />
        /* setNicknameSequence */
        INSERT INTO TB_NKSEQX (
                    SUBJ_CODE
                  , PRED_CODE
                  , ANML_CODE
                  , ISSU_YEAM
                  , LAST_NUMB
                  , REGI_DATE
                  , UPDT_DATE
        ) VALUES (  #{subjCode}
                  , #{predCode}
                  , #{anmlCode}
                  , DATE_FORMAT(CURRENT_TIMESTAMP, '%y%m')
                  , #{firstSequence}
                  , CURRENT_TIMESTAMP
                  , CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 현재 연월에 발급된 세부코드 조합의 마지막 번호를 조회함 -->
    <select id="getNicknameSequenceDtl" parameterType="org.our.sadari.user.dto.NicknameSequenceDto"
            resultType="org.our.sadari.user.dto.NicknameSequenceDto">
        SELECT /* getNicknameSequenceDtl */
               N.SUBJ_CODE
             , N.PRED_CODE
             , N.ANML_CODE
             , N.ISSU_YEAM
             , N.LAST_NUMB
             , N.REGI_DATE
             , N.UPDT_DATE
          FROM TB_NKSEQX N
         WHERE N.SUBJ_CODE = #{subjCode}
           AND N.PRED_CODE = #{predCode}
           AND N.ANML_CODE = #{anmlCode}
           AND N.ISSU_YEAM = DATE_FORMAT(CURRENT_TIMESTAMP, '%y%m')
    </select>

</mapper>
