<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.user.mapper.UserMapper">

    <!-- 사용자 외부 식별값으로 회원과 프로필 이미지 정보를 조회한다. -->
    <select id="getUserByIdxx" parameterType="string" resultType="org.our.sadari.user.dto.UserDto">
        SELECT /* getUserByIdxx */
               U.USER_NUMB
             , U.PROF_NUMB
             , F.FILE_PATH AS PORF_PATH
             , U.BGIM_NUMB
             , BF.FILE_PATH AS BGIM_PATH
             , U.USER_IDXX
             , U.USER_NICK
             , U.USER_PROV
             , U.USER_ROLE
             , U.USER_STAT
             , U.ONBD_YSNO
             , U.WTHD_DATE
             , U.DELT_DATE
             , U.INTR_CNTN
          FROM TM_USERXM U
     LEFT JOIN TM_FILEXM F
            ON U.PROF_NUMB = F.FILE_NUMB
     LEFT JOIN TM_FILEXM BF
            ON U.BGIM_NUMB = BF.FILE_NUMB
         WHERE U.USER_IDXX = #{userIdxx}
    </select>

    <!-- 사용자 번호로 회원과 프로필 이미지 정보를 조회한다. -->
    <select id="getUserByNumb" parameterType="long" resultType="org.our.sadari.user.dto.UserDto">
        SELECT /* getUserByNumb */
               U.USER_NUMB
             , U.PROF_NUMB
             , F.FILE_PATH AS PORF_PATH
             , U.BGIM_NUMB
             , BF.FILE_PATH AS BGIM_PATH
             , U.USER_IDXX
             , U.USER_NICK
             , U.USER_PROV
             , U.USER_ROLE
             , U.USER_STAT
             , U.ONBD_YSNO
             , U.WTHD_DATE
             , U.DELT_DATE
             , U.INTR_CNTN
          FROM TM_USERXM U
     LEFT JOIN TM_FILEXM F
            ON U.PROF_NUMB = F.FILE_NUMB
     LEFT JOIN TM_FILEXM BF
            ON U.BGIM_NUMB = BF.FILE_NUMB
         WHERE U.USER_NUMB = #{userNumb}
    </select>

    <!-- 사용자 번호로 최초 로그인 온보딩 완료 여부를 조회한다. -->
    <select id="getUserOnboardingYsno" parameterType="long" resultType="string">
        SELECT /* getUserOnboardingYsno */
               U.ONBD_YSNO
          FROM TM_USERXM U
         WHERE U.USER_NUMB = #{userNumb}
    </select>

    <!-- 신규 회원 정보를 등록한다. -->
    <insert id="setUser" parameterType="org.our.sadari.user.dto.UserDto" useGeneratedKeys="true" keyProperty="userNumb">
        /* setUser */
        INSERT INTO TM_USERXM (
                    PROF_NUMB
                  , BGIM_NUMB
                  , USER_IDXX
                  , USER_NICK
                  , USER_PROV
                  , USER_ROLE
                  , USER_STAT
                  , ONBD_YSNO
                  , INTR_CNTN
                  , JOIN_DATE
        ) VALUES (  #{profNumb,jdbcType=NUMERIC}
                  , #{bgimNumb,jdbcType=NUMERIC}
                  , #{userIdxx}
                  , #{userNick}
                  , #{userProv,jdbcType=VARCHAR}
                  , #{userRole}
                  , #{userStat}
                  , #{onbdYsno}
                  , #{intrCntn,jdbcType=VARCHAR}
                  , CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 회원 프로필 정보를 수정한다. -->
    <update id="uptUserProfile" parameterType="org.our.sadari.user.dto.UserDto">
        UPDATE /* uptUserProfile */
               TM_USERXM
           SET USER_NICK = #{userNick}
             , INTR_CNTN = #{intrCntn,jdbcType=VARCHAR}
        <if test="profNumb != null">
             , PROF_NUMB = #{profNumb}
        </if>
        <if test="bgimNumb != null">
             , BGIM_NUMB = #{bgimNumb}
        </if>
         WHERE USER_NUMB = #{userNumb}
    </update>

    <!-- 최초 로그인 사용자의 닉네임 저장과 온보딩 완료를 한 번에 반영한다. -->
    <update id="uptUserOnboarding" parameterType="org.our.sadari.user.dto.UserDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        UPDATE /* uptUserOnboarding */
               TM_USERXM
           SET USER_NICK = #{userNick}
             , ONBD_YSNO = #{commYes}
         WHERE USER_NUMB = #{userNumb}
           AND ONBD_YSNO = #{commNo}
    </update>

    <!-- 본인을 제외하고 동일한 닉네임을 사용하는 회원 수를 조회한다. -->
    <select id="getUserNickDuplicateCnt" parameterType="org.our.sadari.user.dto.UserDto" resultType="int">
        SELECT /* getUserNickDuplicateCnt */
               COUNT(1)
          FROM TM_USERXM
         WHERE USER_NICK = #{userNick}
        <if test="userNumb != null">
           AND USER_NUMB != #{userNumb}
        </if>
    </select>

    <!-- 회원 상태와 탈퇴 관련 일시를 변경한다. -->
    <update id="uptUserStatus" parameterType="org.our.sadari.user.dto.UserDto">
        UPDATE /* uptUserStatus */
               TM_USERXM
           SET USER_STAT = #{userStat}
             , WTHD_DATE = #{wthdDate,jdbcType=TIMESTAMP}
             , DELT_DATE = #{deltDate,jdbcType=TIMESTAMP}
         WHERE USER_NUMB = #{userNumb}
    </update>

    <!-- 탈퇴 회원이 작성한 댓글을 화면에서 삭제된 댓글로 표시하도록 삭제 상태로 변경한다. -->
    <update id="uptUserReplyDeleted" parameterType="long">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        UPDATE /* uptUserReplyDeleted */
               TB_REPLXX
           SET DELT_YSNO = #{commYes}
             , UPDT_DATE = CURRENT_TIMESTAMP
         WHERE USER_NUMB = #{userNumb}
           AND COALESCE(DELT_YSNO, #{commNo}) != #{commYes}
    </update>

    <!-- 최초 로그인 화면에 노출할 활성 독서 관심분야 대분류와 세부코드를 조회한다. -->
    <select id="getUserInterestCatalog" resultType="org.our.sadari.user.dto.UserDto$UserInterestDto">
        <bind name="categoryCode" value="@org.our.sadari.global.common.constant.Constant@CODE_READING_CATEGORY" />
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        SELECT /* getUserInterestCatalog */
               CATEGORY.COMD_NAME AS INTR_CNAM
             , DETAIL.COMD_CODE AS INTR_CODE
             , DETAIL.COMD_NAME AS INTR_NAME
             , CATEGORY.SORT_ORDR AS CGRP_ORDR
             , DETAIL.SORT_ORDR AS CODE_ORDR
          FROM TB_CODEXD CATEGORY
    INNER JOIN TB_CODEXD DETAIL
            ON CATEGORY.COMM_CODE = DETAIL.COMM_CODE
           AND CATEGORY.COMD_CODE = DETAIL.UPPR_CODE
           AND COALESCE(DETAIL.USEE_YSNO, #{commYes}) = #{commYes}
         WHERE CATEGORY.COMM_CODE = #{categoryCode}
           AND CATEGORY.UPPR_CODE IS NULL
           AND COALESCE(CATEGORY.USEE_YSNO, #{commYes}) = #{commYes}
      ORDER BY COALESCE(CATEGORY.SORT_ORDR, 9999)
             , CATEGORY.COMD_CODE
             , COALESCE(DETAIL.SORT_ORDR, 9999)
             , DETAIL.COMD_CODE
    </select>

    <!-- 로그인 사용자의 독서 관심분야를 전체 교체하기 전에 기존 선택을 삭제한다. -->
    <delete id="delUserInterests" parameterType="long">
        DELETE /* delUserInterests */
          FROM TB_USINTR
         WHERE USER_NUMB = #{userNumb}
    </delete>

    <!-- 로그인 사용자가 선택한 유효한 독서 관심분야 한 건을 저장한다. -->
    <insert id="setUserInterest">
        /* setUserInterest */
        INSERT INTO TB_USINTR (
                    USER_NUMB
                  , INTR_CODE
                  , REGI_DATE
        ) VALUES (  #{userNumb}
                  , #{interest.intrCode}
                  , CURRENT_TIMESTAMP
        )
    </insert>

</mapper>
