<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.user.mapper.UserMapper">

    <!-- 사용자 외부 식별값으로 회원과 프로필 이미지 정보를 조회한다. -->
    <select id="getUserByIdxx" parameterType="string" resultType="org.our.sadari.user.dto.UserDto">
        SELECT /* getUserByIdxx */
               U.USER_NUMB
             , U.PROF_NUMB
             , F.FILE_PATH AS PORF_PATH
             , U.BGIM_NUMB
             , BF.FILE_PATH AS BGIM_PATH
             , U.USER_IDXX
             , U.USER_NICK
             , U.USER_PROV
             , U.USER_ROLE
             , U.INTR_CNTN
          FROM TM_USERXM U
     LEFT JOIN TM_FILEXM F
            ON U.PROF_NUMB = F.FILE_NUMB
     LEFT JOIN TM_FILEXM BF
            ON U.BGIM_NUMB = BF.FILE_NUMB
         WHERE U.USER_IDXX = #{userIdxx}
    </select>

    <!-- 사용자 번호로 회원과 프로필 이미지 정보를 조회한다. -->
    <select id="getUserByNumb" parameterType="long" resultType="org.our.sadari.user.dto.UserDto">
        SELECT /* getUserByNumb */
               U.USER_NUMB
             , U.PROF_NUMB
             , F.FILE_PATH AS PORF_PATH
             , U.BGIM_NUMB
             , BF.FILE_PATH AS BGIM_PATH
             , U.USER_IDXX
             , U.USER_NICK
             , U.USER_PROV
             , U.USER_ROLE
             , U.INTR_CNTN
          FROM TM_USERXM U
     LEFT JOIN TM_FILEXM F
            ON U.PROF_NUMB = F.FILE_NUMB
     LEFT JOIN TM_FILEXM BF
            ON U.BGIM_NUMB = BF.FILE_NUMB
         WHERE U.USER_NUMB = #{userNumb}
    </select>

    <!-- 신규 회원 정보를 등록한다. -->
    <insert id="setUser" parameterType="org.our.sadari.user.dto.UserDto">
        <selectKey keyProperty="userNumb" resultType="long" order="BEFORE">
            SELECT TM_USERXM_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        /* setUser */
        INSERT INTO TM_USERXM(
                    USER_NUMB
                  , PROF_NUMB
                  , BGIM_NUMB
                  , USER_IDXX
                  , USER_NICK
                  , USER_PROV
                  , USER_ROLE
                  , INTR_CNTN
                  , JOIN_DATE
        ) VALUES (  #{userNumb}
                  , #{profNumb,jdbcType=NUMERIC}
                  , #{bgimNumb,jdbcType=NUMERIC}
                  , #{userIdxx}
                  , #{userNick}
                  , #{userProv,jdbcType=VARCHAR}
                  , #{userRole}
                  , #{intrCntn,jdbcType=VARCHAR}
                  , SYSDATE
        )
    </insert>

    <!-- 회원 프로필 정보를 수정한다. -->
    <update id="uptUserProfile" parameterType="org.our.sadari.user.dto.UserDto">
        /* uptUserProfile */
        UPDATE TM_USERXM
           SET USER_NICK = #{userNick}
             , INTR_CNTN = #{intrCntn,jdbcType=VARCHAR}
        <if test="profNumb != null">
             , PROF_NUMB = #{profNumb}
        </if>
        <if test="bgimNumb != null">
             , BGIM_NUMB = #{bgimNumb}
        </if>
         WHERE USER_NUMB = #{userNumb}
    </update>

    <select id="getUserNickDuplicateCnt" parameterType="org.our.sadari.user.dto.UserDto" resultType="int">
        SELECT /* getUserNickDuplicateCnt */
               COUNT(1)
          FROM TM_USERXM
         WHERE USER_NICK = #{userNick}
        <if test="userNumb != null">
           AND USER_NUMB != #{userNumb}
        </if>
    </select>

</mapper>
