<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.user.mapper.UserWithdrawalMapper">

    <!-- 회원 탈퇴 처리 이력을 등록한다. -->
    <insert id="setUserWithdrawal" parameterType="org.our.sadari.user.dto.UserWithdrawalDto" useGeneratedKeys="true" keyProperty="wthdNumb">
        INSERT /* setUserWithdrawal */
          INTO TH_USWTHD (
               USER_NUMB
             , USER_IDHS
             , WTHD_TYPE
             , WTHD_RSON
             , RSON_CNTN
             , WTHD_STAT
             , REQU_DATE
             , DELT_DATE
             , PROC_DATE
             , ERRO_CNTN
        ) VALUES (
               #{userNumb}
             , #{userIdhs}
             , #{wthdType}
             , #{wthdRson}
             , #{rsonCntn,jdbcType=VARCHAR}
             , #{wthdStat}
             , CURRENT_TIMESTAMP
             , #{deltDate,jdbcType=TIMESTAMP}
             , #{procDate,jdbcType=TIMESTAMP}
             , #{erroCntn,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 탈퇴 회원의 독후감을 공개 목록에서 제외한다. -->
    <update id="uptUserReportPrivate" parameterType="long">
        UPDATE /* uptUserReportPrivate */
               TM_REPORT
           SET PUBC_YSNO = 'N'
             , UPDT_DATE = CURRENT_TIMESTAMP
         WHERE USER_NUMB = #{userNumb}
    </update>

    <!-- 탈퇴 회원이 수신한 알림을 삭제 상태로 변경한다. -->
    <update id="uptUserAlimDeleted" parameterType="long">
        UPDATE /* uptUserAlimDeleted */
               TB_ALIMXX
           SET DELT_YSNO = 'Y'
         WHERE USER_NUMB = #{userNumb}
    </update>

    <!-- 탈퇴 회원의 모든 브라우저 푸시 구독을 비활성화한다. -->
    <update id="uptUserPushDisabled" parameterType="long">
        UPDATE /* uptUserPushDisabled */
               TB_PSHSUB
           SET USEE_YSNO = 'N'
         WHERE USER_NUMB = #{userNumb}
    </update>

    <!-- 계정 비활성화 또는 영구 삭제 대기 전환 시 회원이 댓글에 등록한 좋아요를 삭제한다. -->
    <delete id="delUserReplyLike" parameterType="long">
        <bind name="likeTargetReply" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_REPLY" />
        DELETE /* delUserReplyLike */
          FROM TB_LIKEXX
         WHERE USER_NUMB = #{userNumb}
           AND TAGT_TYPE = #{likeTargetReply}
    </delete>

    <!-- 영구 삭제 대기 중인 최신 탈퇴 이력을 조회한다. -->
    <select id="getPendingWithdrawal" parameterType="long" resultType="org.our.sadari.user.dto.UserWithdrawalDto">
        SELECT /* getPendingWithdrawal */
               W.WTHD_NUMB
             , W.USER_NUMB
             , W.WTHD_TYPE
             , W.WTHD_RSON
             , W.WTHD_STAT
             , W.REQU_DATE
             , W.DELT_DATE
          FROM TH_USWTHD W
         WHERE W.USER_NUMB = #{userNumb}
           AND W.WTHD_STAT = 'DELETE_PENDING'
           AND W.WTHD_NUMB = (
                   SELECT MAX(S.WTHD_NUMB)
                     FROM TH_USWTHD S
                    WHERE S.USER_NUMB = W.USER_NUMB
                      AND S.WTHD_STAT = 'DELETE_PENDING'
               )
    </select>

    <!-- 영구 삭제 대기 이력을 복구 완료 상태로 변경한다. -->
    <update id="uptWithdrawalRestored" parameterType="org.our.sadari.user.dto.UserWithdrawalDto">
        UPDATE /* uptWithdrawalRestored */
               TH_USWTHD
           SET WTHD_STAT = 'RESTORED'
             , RCOV_DATE = CURRENT_TIMESTAMP
         WHERE WTHD_NUMB = #{wthdNumb}
           AND USER_NUMB = #{userNumb}
           AND WTHD_STAT = 'DELETE_PENDING'
    </update>

    <!-- 같은 OAuth 식별값으로 탈퇴한 과거 회원 번호 중 현재 유효한 이용 정지가 있는지 조회한다. -->
    <select id="getActiveSuspensionCountByUserIdHash" parameterType="string" resultType="int">
        SELECT /* getActiveSuspensionCountByUserIdHash */
               COUNT(1)
          FROM DUAL
         WHERE EXISTS (
                   SELECT 1
                     FROM TH_USWTHD W
                     JOIN TH_USSPND S
                       ON S.USER_NUMB = W.USER_NUMB
                    WHERE W.USER_IDHS = #{userIdhs}
                      AND S.SPND_STAT = 'ACTIVE'
                      AND (S.SPND_TYPE = 'INDEFINITE' OR S.ENDX_DATE > CURRENT_TIMESTAMP)
               )
    </select>

</mapper>
