<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.global.common.code.mapper.CodeMapper">

    <!-- 사용 가능한 세부코드만 조회하도록 공통 Y 값을 바인딩한다. -->
    <sql id="activeCodeBind">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
    </sql>

    <!-- 단건 및 일괄 조회가 동일한 세부코드 응답 필드를 반환하도록 컬럼 목록을 공통화한다. -->
    <sql id="codeDetailColumnList">
               C.COMM_CODE
             , C.COMD_CODE
             , C.COMD_NAME
             , C.CODE_EXPL
             , C.OPT1_CODE
             , C.OPT1_NAME
             , C.OPT2_CODE
             , C.OPT2_NAME
             , C.OPT3_CODE
             , C.OPT3_NAME
             , C.OPT4_CODE
             , C.OPT4_NAME
             , C.USEE_YSNO
             , C.SORT_ORDR
    </sql>

    <!-- 하나의 공통코드에 등록된 사용 가능한 세부코드 목록을 조회한다. -->
    <select id="getCodeList" resultType="org.our.sadari.global.common.code.dto.CodeDto">
        <include refid="activeCodeBind" />
        SELECT /* getCodeList */
               <include refid="codeDetailColumnList" />
          FROM TB_CODEXD C
         WHERE C.COMM_CODE = #{commCode}
           AND NVL(C.USEE_YSNO, #{commYes}) = #{commYes}
      ORDER BY C.SORT_ORDR NULLS LAST
             , C.COMD_CODE
    </select>

    <!-- 여러 공통코드에 등록된 사용 가능한 세부코드를 한 번의 SQL로 일괄 조회한다. -->
    <select id="getCodeGroupList" resultType="org.our.sadari.global.common.code.dto.CodeDto">
        <include refid="activeCodeBind" />
        SELECT /* getCodeGroupList */
               <include refid="codeDetailColumnList" />
          FROM TB_CODEXD C
         WHERE C.COMM_CODE IN
               <foreach collection="commCodeList" item="commCode" open="(" separator="," close=")">
                   #{commCode}
               </foreach>
           AND NVL(C.USEE_YSNO, #{commYes}) = #{commYes}
      ORDER BY C.COMM_CODE
             , C.SORT_ORDR NULLS LAST
             , C.COMD_CODE
    </select>

    <!-- 공통코드와 세부코드 및 선택 옵션에 해당하는 표시 이름을 조회한다. -->
    <select id="getCodeName" resultType="string">
        SELECT /* getCodeName */
               FN_GET_CODE_NAME(#{commCode}, #{comdCode}, #{optCode})
          FROM DUAL
    </select>
</mapper>
