<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.report.mapper.ReportMapper">

    <!-- 濡쒓렇???ъ슜?먯쓽 ?낇썑媛?紐⑸줉??寃?됱뼱? ?뺣젹 議곌굔???곕씪 議고쉶?쒕떎. -->
    <select id="getReportList" parameterType="org.our.sadari.report.dto.ReportDto" resultType="org.our.sadari.report.dto.ReportDto">
        <bind name="codeReadStat" value="@org.our.sadari.global.common.constant.Constant@CODE_READ_STAT" />
        <bind name="codeBookColr" value="@org.our.sadari.global.common.constant.Constant@CODE_BOOK_COLR" />
        <bind name="codeCommYsno" value="@org.our.sadari.global.common.constant.Constant@CODE_COMM_YSNO" />
        <bind name="optPubcYsno" value="@org.our.sadari.global.common.constant.Constant@OPT_PUBC_YSNO" />
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="bookKeywordLike" value="bookKeyword == null or bookKeyword == '' ? '' : '%' + bookKeyword + '%'" />
        SELECT /* getReportList */
               A.REPT_NUMB
             , A.USER_NUMB
             , A.BOOK_NUMB
             , A.REPT_STAT
             , FN_GET_CODE_NAME(#{codeReadStat}, A.REPT_STAT) AS REPT_STAT_NAME
             , A.REPT_STDT
             , A.REPT_ENDT
             , A.REPT_GRDE
             , A.REPT_COLR
             , FN_GET_CODE_NAME(#{codeBookColr}, A.REPT_COLR) AS REPT_COLR_NAME
             , A.PUBC_YSNO
             , FN_GET_CODE_NAME(#{codeCommYsno}, A.PUBC_YSNO, #{optPubcYsno}) AS PUBC_YSNO_NAME
             , A.REPT_CNTN
             , B.BOOK_TITL
             , B.BOOK_CVIM
             , CASE WHEN A.REPT_STAT = #{reptStat} THEN #{commYes} ELSE #{commNo} END AS READING_YN
         FROM TM_REPORT A
     LEFT JOIN TM_BKINFO B
            ON A.BOOK_NUMB = B.BOOK_NUMB
         WHERE A.USER_NUMB = #{userNumb}
        <if test="bookKeyword != null and bookKeyword != ''">
           AND (
               LOWER(B.BOOK_TITL) LIKE LOWER(#{bookKeywordLike})
            OR LOWER(B.BOOK_ATHR) LIKE LOWER(#{bookKeywordLike})
           )
        </if>
        <choose>
            <when test="sortType == @org.our.sadari.global.common.constant.Constant@SORT_START_DATE_DESC">
      ORDER BY A.REPT_STDT DESC, A.REPT_NUMB DESC
            </when>
            <when test="sortType == @org.our.sadari.global.common.constant.Constant@SORT_GRADE_DESC">
      ORDER BY TO_NUMBER(A.REPT_GRDE) DESC, A.REPT_ENDT DESC, A.REPT_NUMB DESC
            </when>
            <otherwise>
      ORDER BY A.REPT_ENDT DESC, A.REPT_NUMB DESC
            </otherwise>
        </choose>
    </select>

    <!-- ?쒕퉬?ㅼ뿉??吏?뺥븳 ?낆꽌 ?곹깭? 湲곌컙 議곌굔??留욌뒗 ?낇썑媛?沅뚯닔瑜?議고쉶?쒕떎. -->
    <select id="getReportCntByPeriod" parameterType="org.our.sadari.myPage.dto.MonthlyReadingSummaryDto" resultType="int">
        SELECT /* getReportCntByPeriod */
               COUNT(*)
          FROM TM_REPORT A
         WHERE A.USER_NUMB = #{userNumb}
           AND A.REPT_STAT = #{reptStat}
           AND TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD') <![CDATA[>=]]> TO_DATE(#{periodStart}, 'YYYY-MM-DD')
           AND TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD') <![CDATA[<]]> TO_DATE(#{periodEndExclusive}, 'YYYY-MM-DD')
    </select>

    <!-- ?쒕퉬?ㅼ뿉??吏?뺥븳 ?낆꽌 ?곹깭? ?좏깮 湲곌컙 議곌굔??留욌뒗 ?낇썑媛?紐⑸줉??議고쉶?쒕떎. -->
    <select id="getSummaryReportList" parameterType="org.our.sadari.myPage.dto.MonthlyReadingSummaryDto" resultType="org.our.sadari.report.dto.ReportDto">
        SELECT /* getSummaryReportList */
               A.REPT_NUMB
             , A.USER_NUMB
             , A.BOOK_NUMB
             , A.REPT_STAT
             , A.REPT_STDT
             , A.REPT_ENDT
             , A.REPT_GRDE
             , A.PUBC_YSNO
             , REGEXP_REPLACE(B.BOOK_TITL, '[[:space:]]*\([^)]*\)[[:space:]]*$', '') AS BOOK_TITL
             , B.BOOK_ATHR
             , B.BOOK_CVIM
             , B.BOOK_ISBN
          FROM TM_REPORT A
     LEFT JOIN TM_BKINFO B
            ON A.BOOK_NUMB = B.BOOK_NUMB
         WHERE A.USER_NUMB = #{userNumb}
           AND A.REPT_STAT = #{reptStat}
        <if test="periodStart != null and periodStart != ''">
           AND TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD') <![CDATA[>=]]> TO_DATE(#{periodStart}, 'YYYY-MM-DD')
        </if>
        <if test="periodEndExclusive != null and periodEndExclusive != ''">
           AND TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD') <![CDATA[<]]> TO_DATE(#{periodEndExclusive}, 'YYYY-MM-DD')
        </if>
        <choose>
            <when test="reportOrderType == 'END_DATE_ASC'">
      ORDER BY TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD') ASC, A.REPT_NUMB DESC
            </when>
            <otherwise>
      ORDER BY TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD') DESC, A.REPT_NUMB DESC
            </otherwise>
        </choose>
    </select>

    <!-- ?ъ슜?? 紐⑺몴 湲곗??? 紐⑺몴 ?좏삎???대떦?섎뒗 ?낆꽌 紐⑺몴瑜?議고쉶?쒕떎. -->
    <select id="getReadingGoalDtl" parameterType="org.our.sadari.myPage.dto.ReadingGoalDto" resultType="org.our.sadari.myPage.dto.ReadingGoalDto">
        SELECT /* getReadingGoalDtl */
               G.USER_NUMB
             , G.GOAL_DATE
             , G.GOAL_TYPE
             , G.GOAL_CNTT AS GOAL_CNT
             , NVL(G.UPDT_CNTT, 0) AS UPDT_CNTT
          FROM TM_GOALXM G
         WHERE G.USER_NUMB = #{userNumb}
           AND G.GOAL_DATE = #{goalDate}
           AND G.GOAL_TYPE = #{goalType}
    </select>

    <!-- ?낆꽌 紐⑺몴瑜??좉퇋 ?깅줉?섍굅??湲곗〈 紐⑺몴瑜?媛깆떊?쒕떎. -->
    <insert id="setReadingGoal" parameterType="org.our.sadari.myPage.dto.ReadingGoalDto">
        /* setReadingGoal */
        MERGE INTO TM_GOALXM G
        USING (   SELECT #{userNumb} AS USER_NUMB
                       , #{goalDate} AS GOAL_DATE
                       , #{goalType} AS GOAL_TYPE
                       , #{goalCnt} AS GOAL_CNTT
                    FROM DUAL
              ) S
           ON (    G.USER_NUMB = S.USER_NUMB
               AND G.GOAL_DATE = S.GOAL_DATE
               AND G.GOAL_TYPE = S.GOAL_TYPE
           )
         WHEN MATCHED THEN
      UPDATE
         SET G.GOAL_CNTT = S.GOAL_CNTT
            , G.UPDT_CNTT = CASE
                            WHEN S.GOAL_CNTT <![CDATA[<]]> G.GOAL_CNTT THEN NVL(G.UPDT_CNTT, 0) + 1
                            ELSE NVL(G.UPDT_CNTT, 0)
                         END
            , G.UPDT_DATE = SYSDATE
         WHEN NOT MATCHED THEN
       INSERT (
              USER_NUMB
            , GOAL_DATE
            , GOAL_TYPE
            , GOAL_CNTT
            , UPDT_CNTT
            , REGI_DATE
            , UPDT_DATE
       )
       VALUES (
              S.USER_NUMB
            , S.GOAL_DATE
            , S.GOAL_TYPE
            , S.GOAL_CNTT
            , 0
            , SYSDATE
            , SYSDATE
       )
    </insert>

    <!-- 紐⑺몴 ?좏삎蹂??꾩껜 紐⑺몴 ?ъ꽦 ?잛닔瑜?議고쉶?쒕떎. -->
    <select id="getReadingGoalAchvCnt" parameterType="org.our.sadari.myPage.dto.ReadingGoalDto" resultType="int">
        SELECT /* getReadingGoalAchvCnt */
               COUNT(*)
          FROM TM_GOALXM G
     LEFT JOIN (
                SELECT A.USER_NUMB
                     , <choose>
                           <when test="goalType == @org.our.sadari.global.common.constant.Constant@GOAL_TYPE_WEEK">
                               TO_CHAR(TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD'), 'IYYYIW')
                           </when>
                           <when test="goalType == @org.our.sadari.global.common.constant.Constant@GOAL_TYPE_MONTH">
                               TO_CHAR(TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD'), 'YYYYMM')
                           </when>
                           <otherwise>
                               TO_CHAR(TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD'), 'YYYY') || '00'
                           </otherwise>
                       </choose> AS GOAL_DATE
                     , COUNT(*) AS DONE_CNT
                 FROM TM_REPORT A
                 WHERE A.USER_NUMB = #{userNumb}
                   AND A.REPT_STAT = #{reptStat}
                   AND A.REPT_ENDT IS NOT NULL
              GROUP BY A.USER_NUMB
                     , <choose>
                           <when test="goalType == @org.our.sadari.global.common.constant.Constant@GOAL_TYPE_WEEK">
                               TO_CHAR(TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD'), 'IYYYIW')
                           </when>
                           <when test="goalType == @org.our.sadari.global.common.constant.Constant@GOAL_TYPE_MONTH">
                               TO_CHAR(TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD'), 'YYYYMM')
                           </when>
                           <otherwise>
                               TO_CHAR(TO_DATE(A.REPT_ENDT, 'YYYY-MM-DD'), 'YYYY') || '00'
                           </otherwise>
                       </choose>
               ) R
            ON G.USER_NUMB = R.USER_NUMB
           AND G.GOAL_DATE = R.GOAL_DATE
         WHERE G.USER_NUMB = #{userNumb}
           AND G.GOAL_TYPE = #{goalType}
           AND G.GOAL_CNTT > 0
           AND NVL(R.DONE_CNT, 0) <![CDATA[>=]]> G.GOAL_CNTT
    </select>

    <!-- ?낇썑媛??곸꽭? ?곌껐???꾩꽌, 醫뗭븘?? ?됯퇏 蹂꾩젏 ?뺣낫瑜?議고쉶?쒕떎. -->
    <select id="getReportDtl" parameterType="org.our.sadari.report.dto.ReportDto" resultType="org.our.sadari.report.dto.ReportDto">
        <bind name="codeReadStat" value="@org.our.sadari.global.common.constant.Constant@CODE_READ_STAT" />
        <bind name="codeBookColr" value="@org.our.sadari.global.common.constant.Constant@CODE_BOOK_COLR" />
        <bind name="codeCommYsno" value="@org.our.sadari.global.common.constant.Constant@CODE_COMM_YSNO" />
        <bind name="optPubcYsno" value="@org.our.sadari.global.common.constant.Constant@OPT_PUBC_YSNO" />
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        SELECT /* getReportDtl */
               A.REPT_NUMB
             , A.USER_NUMB
             , A.BOOK_NUMB
             , A.REPT_STAT
             , FN_GET_CODE_NAME(#{codeReadStat}, A.REPT_STAT) AS REPT_STAT_NAME
             , A.REPT_STDT
             , A.REPT_ENDT
             , A.REPT_GRDE
             , A.REPT_COLR
             , FN_GET_CODE_NAME(#{codeBookColr}, A.REPT_COLR) AS REPT_COLR_NAME
             , A.PUBC_YSNO
             , FN_GET_CODE_NAME(#{codeCommYsno}, A.PUBC_YSNO, #{optPubcYsno}) AS PUBC_YSNO_NAME
             , A.REPT_CNTN
             , NVL(LC.LIKE_CNT, 0) AS LIKE_CNT
             , NVL(UL.LIKE_YSNO, #{commNo}) AS LIKE_YSNO
             , B.BOOK_TITL
             , B.BOOK_ATHR
             , B.BOOK_CVIM
             , B.BOOK_ISBN
             , B.BOOK_PUBL
             , B.BOOK_DESC
             , FN_GET_LOCAL_DATE_STR(B.PUBL_DATE, #{locale}) AS PUBL_DATE
             , G.BOOK_AVG_GRDE
          FROM TM_REPORT A
     LEFT JOIN TM_BKINFO B
            ON A.BOOK_NUMB = B.BOOK_NUMB
     LEFT JOIN (  SELECT L.REPT_NUMB
                       , COUNT(*) AS LIKE_CNT
                    FROM TB_RPLIKE L
                GROUP BY L.REPT_NUMB
                ) LC
            ON A.REPT_NUMB = LC.REPT_NUMB
     LEFT JOIN (  SELECT L.REPT_NUMB
                      , #{commYes} AS LIKE_YSNO
                   FROM TB_RPLIKE L
                  WHERE L.USER_NUMB = #{userNumb}
               ) UL
            ON A.REPT_NUMB = UL.REPT_NUMB
     LEFT JOIN (  SELECT P.BOOK_NUMB
                       , ROUND(AVG(TO_NUMBER(P.REPT_GRDE)), 1) AS BOOK_AVG_GRDE
                    FROM TM_REPORT P
                   WHERE P.REPT_STAT = #{reptStat}
                GROUP BY P.BOOK_NUMB
                ) G
            ON G.BOOK_NUMB = B.BOOK_NUMB
         WHERE A.USER_NUMB = #{userNumb}
           AND A.REPT_NUMB = #{reptNumb}
    </select>

    <!-- ISBN 湲곗??쇰줈 ?ㅻⅨ ?ъ슜?먭? 怨듦컻???낇썑媛?紐⑸줉??議고쉶?쒕떎. -->
    <select id="getPublicReportList" parameterType="org.our.sadari.report.dto.ReportDto" resultType="org.our.sadari.report.dto.ReportDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="reptStatRead" value="@org.our.sadari.global.common.constant.Constant@REPORT_STAT_READ" />
        SELECT /* getPublicReportList */
               P.REPT_NUMB
             , P.USER_NUMB
             , U.USER_NICK
             , F.FILE_PATH AS PORF_PATH
             , P.BOOK_NUMB
             , P.REPT_GRDE
             , P.REPT_CNTN
             , P.PUBC_YSNO
             , NVL(LC.LIKE_CNT, 0) AS LIKE_CNT
             , NVL(UL.LIKE_YSNO, #{commNo}) AS LIKE_YSNO
          FROM TM_BKINFO B
    INNER JOIN TM_REPORT P
            ON B.BOOK_NUMB = P.BOOK_NUMB
    INNER JOIN TM_USERXM U
            ON P.USER_NUMB = U.USER_NUMB
     LEFT JOIN TM_FILEXM F
            ON U.PROF_NUMB = F.FILE_NUMB
     LEFT JOIN (  SELECT L.REPT_NUMB
                       , COUNT(*) AS LIKE_CNT
                    FROM TB_RPLIKE L
                GROUP BY L.REPT_NUMB
                ) LC
            ON LC.REPT_NUMB = P.REPT_NUMB
     LEFT JOIN (  SELECT L.REPT_NUMB
                       , #{commYes} AS LIKE_YSNO
                    FROM TB_RPLIKE L
                   WHERE L.USER_NUMB = #{userNumb}
                ) UL
            ON UL.REPT_NUMB = P.REPT_NUMB
         WHERE P.USER_NUMB != #{userNumb}
           AND P.PUBC_YSNO = #{commYes}
           AND P.REPT_STAT != #{reptStatRead}
           AND B.BOOK_ISBN = #{bookIsbn}
      ORDER BY P.REPT_NUMB DESC
    </select>

    <!-- ISBN 湲곗??쇰줈 ?꾩꽌???곌껐???꾨즺 ?낇썑媛먯쓽 ?됯퇏 蹂꾩젏??議고쉶?쒕떎. -->
    <select id="getPublicRatingAverageByIsbn" resultType="java.math.BigDecimal">
        <bind name="reptStatRead" value="@org.our.sadari.global.common.constant.Constant@REPORT_STAT_READ" />
        SELECT /* getPublicRatingAverageByIsbn */
               ROUND(AVG(TO_NUMBER(P.REPT_GRDE)), 1)
          FROM TM_BKINFO B
    INNER JOIN TM_REPORT P
            ON B.BOOK_NUMB = P.BOOK_NUMB
         WHERE B.BOOK_ISBN = #{bookIsbn}
          AND P.REPT_STAT != #{reptStatRead}
    </select>

    <!-- 醫뗭븘?붾? ?꾨? ???덈뒗 ?낇썑媛???곸씤吏 ?뺤씤?쒕떎. -->
    <select id="getPublicReportLikeTargetCnt" parameterType="org.our.sadari.report.dto.ReportDto" resultType="int">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        SELECT /* getPublicReportLikeTargetCnt */
               COUNT(*)
         FROM TM_REPORT R
         WHERE R.REPT_NUMB = #{reptNumb}
           AND (
               R.USER_NUMB = #{userNumb}
            OR R.PUBC_YSNO = #{commYes}
           )
    </select>

    <!-- ?ъ슜?먭? ?대떦 ?낇썑媛먯뿉 ?대? 醫뗭븘?붾? ?뚮??붿? ?뺤씤?쒕떎. -->
    <select id="dupReportLike" parameterType="org.our.sadari.report.dto.ReportDto" resultType="int">
        SELECT /* dupReportLike */
               COUNT(*)
          FROM TB_RPLIKE
         WHERE USER_NUMB = #{userNumb}
           AND REPT_NUMB = #{reptNumb}
    </select>

    <!-- ?낇썑媛?醫뗭븘?붾? ?깅줉?쒕떎. -->
    <insert id="setReportLike" parameterType="org.our.sadari.report.dto.ReportDto">
        /* setReportLike */
        INSERT INTO TB_RPLIKE(
                    USER_NUMB
                  , REPT_NUMB
                  , REGI_DATE
        ) VALUES(   #{userNumb}
                  , #{reptNumb}
                  , SYSDATE
        )
    </insert>

    <!-- ?낇썑媛?醫뗭븘?붾? 痍⑥냼?쒕떎. -->
    <delete id="delReportLike" parameterType="org.our.sadari.report.dto.ReportDto">
        /* delReportLike */
        DELETE FROM TB_RPLIKE
         WHERE USER_NUMB = #{userNumb}
           AND REPT_NUMB = #{reptNumb}
    </delete>

    <!-- 醫뗭븘???좉? ???붾㈃???쒖떆??醫뗭븘???섏? ?щ?瑜?議고쉶?쒕떎. -->
    <select id="getReportLikeDtl" parameterType="org.our.sadari.report.dto.ReportDto" resultType="org.our.sadari.report.dto.ReportDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        SELECT /* getReportLikeDtl */
               R.REPT_NUMB
             , NVL(LC.LIKE_CNT, 0) AS LIKE_CNT
             , NVL(UL.LIKE_YSNO, #{commNo}) AS LIKE_YSNO
          FROM (  SELECT #{reptNumb} AS REPT_NUMB
                    FROM DUAL
                ) R
     LEFT JOIN (  SELECT L.REPT_NUMB
                       , COUNT(*) AS LIKE_CNT
                    FROM TB_RPLIKE L
                   WHERE L.REPT_NUMB = #{reptNumb}
                GROUP BY L.REPT_NUMB
               ) LC
            ON LC.REPT_NUMB = R.REPT_NUMB
     LEFT JOIN (  SELECT L.REPT_NUMB
                       , #{commYes} AS LIKE_YSNO
                    FROM TB_RPLIKE L
                   WHERE L.REPT_NUMB = #{reptNumb}
                     AND L.USER_NUMB = #{userNumb}
                ) UL
            ON UL.REPT_NUMB = R.REPT_NUMB
    </select>

    <!-- ?좉퇋 ?낇썑媛먯쓣 ?깅줉?쒕떎. -->
    <insert id="setReport" parameterType="org.our.sadari.report.dto.ReportDto" useGeneratedKeys="true" keyProperty="reptNumb">
        <selectKey keyProperty="reptNumb" resultType="long" order="BEFORE">
            SELECT TM_REPORT_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        /* setReport */
        INSERT INTO TM_REPORT(
                    REPT_NUMB
                  , USER_NUMB
                  , BOOK_NUMB
                  , REPT_STAT
                  , REPT_STDT
                  , REPT_ENDT
                  , REPT_GRDE
                  , REPT_COLR
                  , PUBC_YSNO
                  , REPT_CNTN
                  , REGI_DATE
                  , UPDT_DATE
        ) VALUES (  #{reptNumb}
                  , #{userNumb}
                  , #{bookNumb}
                  , #{reptStat}
                  , #{reptStdt}
                  , #{reptEndt}
                  , #{reptGrde}
                  , #{reptColr}
                  , #{pubcYsno}
                  , #{reptCntn}
                  , SYSDATE
                  , SYSDATE
        )
    </insert>

    <!-- 湲곗〈 ?낇썑媛먯쓣 ?섏젙?쒕떎. -->
    <update id="uptReport" parameterType="org.our.sadari.report.dto.ReportDto">
        /* uptReport */
        UPDATE TM_REPORT
           SET REPT_STAT = #{reptStat}
             , REPT_STDT = #{reptStdt}
             , REPT_ENDT = #{reptEndt}
             , REPT_GRDE = #{reptGrde}
             , REPT_COLR = #{reptColr}
             , PUBC_YSNO = #{pubcYsno}
             , REPT_CNTN = #{reptCntn}
             , UPDT_DATE = SYSDATE
         WHERE REPT_NUMB = #{reptNumb}
           AND USER_NUMB = #{userNumb}
    </update>

    <!-- ?낇썑媛먯쓽 ?쎄린 ?곹깭? 蹂꾩젏留??섏젙?쒕떎. -->
    <update id="uptReptStatusGrade" parameterType="org.our.sadari.report.dto.ReportDto">
        /* uptReptStatusGrade */
        UPDATE TM_REPORT
        <set>
               REPT_STAT = #{reptStat}
             , REPT_GRDE = #{reptGrde}
            <if test="reptEndt != null and reptEndt != ''">
             , REPT_ENDT = #{reptEndt}
            </if>
             , UPDT_DATE = SYSDATE
        </set>
         WHERE REPT_NUMB = #{reptNumb}
           AND USER_NUMB = #{userNumb}
    </update>

    <!-- 濡쒓렇???ъ슜?먯쓽 ?낇썑媛먯쓣 ??젣?쒕떎. -->
    <delete id="delReport" parameterType="org.our.sadari.report.dto.ReportDto">
        /* delReport */
        DELETE FROM TM_REPORT
         WHERE REPT_NUMB = #{reptNumb}
           AND USER_NUMB = #{userNumb}
    </delete>
</mapper>
